<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95955724711-rvsa917qcgn0pmkfp1n854vb8b8ino9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95955724711-rvsa917qcgn0pmkfp1n854vb8b8ino9e</string>
	<key>API_KEY</key>
	<string>AIzaSyAhbrSZLltgRUv12Bo6JVkAANN7--D21EM</string>
	<key>GCM_SENDER_ID</key>
	<string>95955724711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uiwithcomponent</string>
	<key>PROJECT_ID</key>
	<string>mobiletest-69a35</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiletest-69a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95955724711:ios:c520f97da7d8f625cfae82</string>
</dict>
</plist>